PROJECT_ID=your-gcp-project-id
REGION=us-central1
BUCKET=your-gcs-bucket
CLUSTER=nyc-taxi-sorting-cluster
SUBNET=default
SERVICE_ACCOUNT=
IMAGE_VERSION=2.2-debian12
MASTER_MACHINE_TYPE=n2-standard-4
WORKER_MACHINE_TYPE=n2-standard-4
NUM_WORKERS=4
EVENT_LOG_DIR=gs://your-gcs-bucket/spark-events
DATASET_GCS_PREFIX=gs://your-gcs-bucket/nyc_taxi/raw
